.bulk {
  position: absolute;
  transform-style: preserve-3d;
}

.bulk__icon {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.bulk__sticker_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bulk__sticker {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.bulk__sticker--album {
  width: 4em;
  height: 2em;
}

.bulk__sticker--portrait {
  width: 2em;
  height: 4em;
}
