.jets-seat {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
}

.jets-unavailable {
  position: relative;
  cursor: not-allowed;
}

.jets-available {
  position: relative;
  cursor: pointer;
}

.jets-selected {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.jets-aisle,
.jets-index,
.jets-empty {
  pointer-events: none;
  /* transform: rotate(0) !important; */
}

.jets-seat-r-nw {
  transform: scale(0.8) rotate(-20deg);
}

.jets-seat-r-nw > .jets-seat-passenger {
  transform: rotate(20deg);
}

.jets-seat-r-ne {
  transform: scale(0.8) rotate(20deg);
}

.jets-seat-r-ne > .jets-seat-passenger {
  transform: rotate(-20deg);
}

.jets-seat-r-s {
  transform: rotate(180deg);
}

.jets-seat-r-s > .jets-seat-passenger {
  transform: rotate(-180deg);
}

.jets-seat-r-se {
  transform: scale(0.8) rotate(160deg);
}

.jets-seat-r-se > .jets-seat-passenger {
  transform: rotate(-160deg);
}

.jets-seat-r-sw {
  transform: scale(0.8) rotate(-160deg);
}

.jets-seat-r-sw > .jets-seat-passenger {
  transform: rotate(160deg);
}

svg {
  height: 100%;
  width: 100%;
}

.jets-seat-passenger {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.jets-seat-r-s > .jets-seat-passenger {
  transform: rotate(-180deg);
}

.jets-seat-svg {
  width: 100%;
  height: 100%;
}
