.jets-tooltip {
  z-index: 200;
  box-shadow: rgb(192 202 213) 0px 0px 0px 1px, rgb(0 0 0 / 8%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 8px 0px,
    rgb(0 0 0 / 8%) 0px 16px 16px 0px;
  font-size: 12px;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  outline: 0px;
  position: absolute;
}

.jets-tooltip--content {
  padding: 16px 16px 0 16px;
}

.jets-tooltip--body.no-buttons .jets-tooltip--content {
  padding: 16px;
}

.jets-tooltip--body.no-buttons .jets-tooltip--btns-block {
  display: none;
}

.jets-tooltip--header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.jets-tooltip--passenger-name {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: bold;
}

.jets-tooltip--features > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jets-tooltip--feature img {
  width: 18px;
  height: 18px;
}

.jets-tooltip--feature .svg_span {
  width: 18px;
  height: 18px;
}

.jets-tooltip--feature > span {
  display: block;
}

.jets-tooltip--features > ul > li {
  color: #4f6f8f;
  font-size: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.6rem;
  line-height: 1.4;
}

.jets-tooltip--features > ul > li > div {
  margin: 0 5px;
}

.jets-tooltip--btns-block {
  width: 100%;
  display: flex;
}

.jets-tooltip--btn {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  width: 48%;
  margin: 1%;
  font-size: 14px;
  text-decoration: none;
  border-radius: 2px;
  border-width: 0px;
  border-style: solid;
  padding: 9.5px 18px;
}

.jets-tooltip--arrow-pointer {
  position: absolute;
  margin: 0 0 0 -16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 16px 0 16px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  transform-origin: top;
}

.jets-tooltip--arrow-pointer-horizontal {
  position: absolute;

  margin: -16px 0 0 -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 14px 16px 0;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  transform-origin: right;
}

.jets-tooltip--measurements {
  display: grid;
  grid-column-gap: 3%;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  margin: 10px 0;
}

.jets-tooltip--measurement {
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #4f6f8f;

  /* border: 1px solid #4f6f8f; */
  /* border-radius: 6px; */
  padding: 10px;
  box-sizing: border-box;
  backface-visibility: hidden;
  transform: translateZ(0);
  transform-style: preserve-3d;
}

.jets-tooltip--measurement svg {
  display: block;
  height: 40px;
}

.jets-tooltip--measurement-value {
  text-align: center;
  margin-top: 10px;
  color: #4f6f8f;
}

/* horizontal tooltip layout */

.horizontal .jets-tooltip--measurement {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.horizontal .jets-tooltip--features {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.horizontal .jets-tooltip--features > ul > li:nth-child(6) {
  -webkit-column-break-after: always;
  break-after: always;
}

.horizontal .jets-tooltip--measurement-box {
  /* width: 50%; */
}

.horizontal .jets-tooltip--measurements .svg_span {
  display: inline-block;
}
.horizontal .jets-tooltip--measurement-value {
  margin: 0 4px;
  display: inline-block;
}

.horizontal .jets-tooltip--measurement svg {
  height: 30px;
}
